################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmanCoffeeShop/obj/Debug
/AmanCoffeeShop/.vs/AmanCoffeeShop
/.vs
